.tile {
    width: 100%;
    margin: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.tile-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.tile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tile-name {
    margin: 0;
    font-weight: 600;
}

.tile-rating p {
    margin: 0;
}

.spot-price {
    margin-top: 0;
}

.manage-buttons {
    margin-left: 275px;
    z-index: 10;
}
