.hidden {
    display: none
}

.navBar {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
}

.home {
    position: fixed;
}

.nav {
    position: fixed;
    right: 10px;
    top: 0;
}
